/**
 * Copyright 2011 Google Inc.  All Rights Reserved.
 *
 * Additional base styling, beyond go-x.
 *
 * Author: mzero@google.com (Mark Lentczner)
 */
 
@import url(go-x.css);
@import url(jquery-ui-1.8.9.custom.css);

body {
  max-width: inherit;
}

code {
  color: #b13200;
}

.belay-properties{
  padding-left: 3em;
}
.belay-properties dt {
  font: 13px/1.38 monospace;
  color: #b13200;
  float: left;
  clear: both;
  margin-right: 1em;
}
.belay-properties dd {
  margin: 0 0 0.5em 10em;
}
.belay-properties dl {
  margin-left: -8em;
}