<!--
Copyright 2011 Google Inc. All Rights Reserved.

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
-->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Belay Station - Account Managment</title>
  <link rel="stylesheet" href="lib/css/base.css">
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
</head>
<body>
  <h1><a href="/"><img src="http://www.google.com/intl/en/images/logo_sm.gif" alt="Google"></a> Belay Station - Account Managment</h1>
  <ul id="nav">
    <li>Home</li>
    <li><a href="help.html">Help</a></li>
    <li><a href="api.html">API</a></li>
  </ul>
  <div id="aux">
    <!-- Content -->
    {% if acct_exists %}
      <h2>Existing Account</h2>
      <p>Your account is set up to use the Belay system.</p>
      <table>
        <tr><th>Account:</th><td>{{ user_nickname }}</td></tr>
        <tr><th>E-Mail:</th><td>{{ user_email }}</td></tr>
        <tr><th>Provider:</th><td>{{ station_url }}</td></tr>
      </table>
    {% else %}
      <h2>Initializing a new account…</h2>
      <p>This account has never been used with the Belay system before. You will
        need to choose a 'desktop' provider to house and store all your Belay
        information.</p>
        <p>Please validate these settings:</p>
         <table>
           <tr><th>Account:</th><td>{{ user_nickname }}</td></tr>
           <tr><th>E-Mail:</th><td>{{ user_email }}</td></tr>
           <tr><th>Provider:</th><td>
              <input type='radio' name='provider' checked='checked'
                value='http://localhost:9001/generate'>
              <b>Belay Station</b>, the best (and only) 'desktop' provider!
             </td></tr>
           <tr><th>&nbsp;</th><td>
              <button type='button' name='initialize'>Initialize</button>
              </td></tr>
         </table>
      <form method='POST'>
        <input type='hidden' name='provider_url' value=''>
      </form>
      <script>
$('button').click(function(){
  var genUrl = $('input:radio[name=provider]:checked').val()
  $.ajax({
    url: genUrl,
    dataType: "text",
		success: function(data, status, xhr) {
		  $('input[name=provider_url]').val(data);
		  $('form').submit();
		},
		error: function(xhr, status, error) {
			alert("Failed to generated a new account: " + status);
		}
  })
  return false;
})
      </script>
    {% endif %}
    <div id="about">©2011 Google</div>
  </div>
</body>
