<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Belay Station</title>
  <link rel="stylesheet" href="base.css">
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/jquery-ui.min.js"></script>
  <script type="text/javascript" src="ses/whitelist.js"></script>
  <script type="text/javascript" src="ses/atLeastFreeVarNames.js"></script>
  <script type="text/javascript" src="ses/WeakMap.js"></script>
  <script type="text/javascript" src="ses/startSES.js"></script>
  <script type="text/javascript" src="caps.js"></script>
  <script type="text/javascript" src="windows.js"></script>
  <script type="text/javascript" src="windowremote.js"></script>
  <script type="text/javascript" src="kickoff.js"></script>
</head>
<body>

  <div id="substation-aux">
    <!-- Content -->
    <div id="about">©2011 Google</div>
  </div>
  <script type="text/javascript">
	foop("{{ suburl }}", $('#substation-aux'));
  </script>
</body>
