<!--
Copyright 2011 Google Inc. All Rights Reserved.

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
-->

<div class="buzzer-thing">
  <style scoped="scoped">@import url({{ css_url }});</style>
  {% if need_profile %}
    <div class="buzzer-profile">
      <p>It's easy to get going!</p>
      <form action="{{ profile_url }}" method="POST">
        <p>Just pick a name for your buzzer:</p>
        <p><input type="text" name="title" /></p>
        <p><input type="submit" value="Submit" /></p>
      </form>
    </div>
  {% else %}
    <div class="buzzer-header">
      {% if include_post %}
        <div class="buzzer-chit buzzer-reader-chit" title="a read only version"
          style="width:26px;height:24px;background:url({{ chit_read_url }}) no-repeat 0 0;"></div>
        <div class="buzzer-chit buzzer-post-chit" title="post to this buzzer"
          style="width:26px;height:24px;background:url({{ chit_post_url }}) no-repeat 0 0;"></div>
      {% endif %}
      <p>{{feed.title}}
      {% if has_subtitle %}
        <br /><small>—
          {% if has_name %} by <i>{{ feed.name }}</i> {% endif %}
          {% if has_location %} from <i>{{ feed.location }}</i> {% endif %}
        </small>
      {% endif %}
      </p>
      {% if include_post %}
      <form action="{{ post_url }}" method="POST">
        <div>
          <textarea name="body" id="body">is...</textarea>
        </div>
        <input type="submit" value="BZR!" />
      </form>
      {% endif %}
    </div>
    <div class="buzzer-items">
      {% if items %}
        {% for item in items %}
        <div class="buzzer-item">
          {% if item.via %}
            <p class="buzzer-via">{{ item.via }}</p>
          {% endif %}
          <p class="buzzer-stamp">{{ item.nicedate }}</p>
          <p class="buzzer-body">{{ item.body }}</p>
        </div>
        {% endfor %}
      {% else %}
        <p class="buzzer-hint">Get going: Post something now!</p>
      {% endif %}
    </div>  
  {% endif %}
</div>
