<div class="buzzer-thing">
  <style scoped="scoped">@import url({{ css_url }});</style>
  {% if need_profile %}
    <div class="buzzer-profile">
      <p>Please tell your readers something about yourself before you start
        posting:</p>
      <form action="{{ profile_url }}" method="POST">
        <p>What do you call yourself?</p>
        <p><input type="text" name="name" /></p>
        <p>Where in the world are you?</p>
        <p><input type="text" name="location" /></p>
        <p><input type="submit" value="Submit" /></p>
      </form>
    </div>
  {% else %}
    <div class="buzzer-header">
      <p>{{ feed.name }} from {{ feed.location }}</p>
      {% if include_post %}
      <form action="{{ post_url }}" method="POST">
        <div class="buzzer-chit"
          style="width:26px;height:24px;background:url({{ chit_url }}) no-repeat 0 0;"></div>
        <div>
          <textarea name="body" id="body">is...</textarea>
        </div>
        <input type="submit" value="BZR!" />
      </form>
      {% endif %}
    </div>
    <div class="buzzer-items">
      {% if items %}
        {% for item in items %}
        <div class="buzzer-item">
          {% if item.via %}
            <p class="buzzer-via">{{ item.via }}</p>
          {% endif %}
          <p class="buzzer-stamp">{{ item.nicedate }}</p>
          <p class="buzzer-body">{{ item.body }}</p>
        </div>
        {% endfor %}
      {% else %}
        <p class="buzzer-hint">Get going: Post something now!</p>
      {% endif %}
    </div>  
  {% endif %}
</div>
